# SPDX-FileCopyrightText: © 2026 Nfrastack <code@nfrastack.com>
#
# SPDX-License-Identifier: MIT

# LLNG fastcgi / param mappings
# Example entries will look like: fastcgi_param REMOTE_USER $HTTP_REMOTE_USER;

